In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.metrics import mean_squared_error

In [2]:
df_targets = pd.read_csv('./targets.csv', index_col=0)
df_true = pd.read_csv('./test_targets.csv', index_col=0)
df_predictions = pd.read_csv('./test_predictions.csv', index_col=0)

In [3]:
df_predictions.columns = df_targets.columns
df_true.columns = df_targets.columns

In [4]:
df_predictions.head()

,Class1.1,Class1.2,Class1.3,Class2.1,Class2.2,Class3.1,Class3.2,Class4.1,Class4.2,Class5.1,...,Class9.3,Class10.1,Class10.2,Class10.3,Class11.1,Class11.2,Class11.3,Class11.4,Class11.5,Class11.6
100023,0.235879,0.717152,0.019512,0.394569,0.383996,0.121439,0.284437,0.235425,0.182894,0.039254,...,0.161474,0.101618,0.095288,0.074579,0.021476,0.134451,0.019250,0.007809,0.009206,0.104438
100123,0.501072,0.463254,0.055650,0.032429,0.481055,0.050739,0.460788,0.134087,0.437275,0.023648,...,0.009439,0.053758,0.069388,0.036924,0.035523,0.038754,0.008727,0.003793,0.008464,0.062113
100128,0.676464,0.281565,0.078092,0.021227,0.263274,0.019688,0.271206,0.039443,0.301515,0.015876,...,0.009342,0.022841,0.023265,0.011563,0.013786,0.014564,0.002989,0.000844,0.001718,0.027392
100474,0.259141,0.733915,0.021656,0.510725,0.236135,0.066507,0.197203,0.146703,0.107901,0.060409,...,0.448258,0.065924,0.050309,0.053779,0.012408,0.068526,0.011759,0.003792,0.005271,0.072270
100479,0.736727,0.234152,0.075136,0.015212,0.236034,0.036126,0.210075,0.061180,0.207674,0.021032,...,0.008778,0.028183,0.027135,0.018139,0.012607,0.023228,0.003642,0.000998,0.001815,0.034947

In [5]:
df_true.head()

,Class1.1,Class1.2,Class1.3,Class2.1,Class2.2,Class3.1,Class3.2,Class4.1,Class4.2,Class5.1,...,Class9.3,Class10.1,Class10.2,Class10.3,Class11.1,Class11.2,Class11.3,Class11.4,Class11.5,Class11.6
100023,0.327001,0.663777,0.009222,0.031178,0.632599,0.467370,0.165229,0.591328,0.041271,0.000000,...,0.018764,0.0,0.131378,0.459950,0.0,0.591328,0.0,0.0,0.0,0.000000
100123,0.462492,0.456033,0.081475,0.000000,0.456033,0.000000,0.456033,0.000000,0.456033,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000
100128,0.687783,0.288344,0.023873,0.000000,0.288344,0.069098,0.219246,0.000000,0.288344,0.067228,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000
100474,0.201416,0.745599,0.052985,0.551482,0.194117,0.000000,0.194117,0.000000,0.194117,0.194117,...,0.409255,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000
100479,0.841554,0.158446,0.000000,0.000000,0.158446,0.000000,0.158446,0.087393,0.071053,0.000000,...,0.000000,0.0,0.000000,0.087393,0.0,0.000000,0.0,0.0,0.0,0.087393

In [14]:
pd.set_option('display.max_columns', 50)

In [15]:
df_predictions.describe()

,Class1.1,Class1.2,Class1.3,Class2.1,Class2.2,Class3.1,Class3.2,Class4.1,Class4.2,Class5.1,Class5.2,Class5.3,Class5.4,Class6.1,Class6.2,Class7.1,Class7.2,Class7.3,Class8.1,Class8.2,Class8.3,Class8.4,Class8.5,Class8.6,Class8.7,Class9.1,Class9.2,Class9.3,Class10.1,Class10.2,Class10.3,Class11.1,Class11.2,Class11.3,Class11.4,Class11.5,Class11.6
count,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,1.016000e+04,10160.000000,10160.000000
mean,0.414869,0.566078,0.026087,0.118803,0.459940,0.139272,0.338691,0.240675,0.259353,0.042035,0.190315,0.223744,0.050897,0.248006,0.749803,0.182848,0.221068,0.072110,0.057271,0.016299,0.039962,0.043485,0.075007,0.063216,0.004866,0.078079,0.016039,0.055319,0.094843,0.106658,0.056892,0.021356,0.131122,0.022329,1.232258e-02,0.008981,0.083646
std,0.243473,0.248786,0.019304,0.210590,0.267636,0.187468,0.174948,0.260950,0.123218,0.055799,0.155089,0.149565,0.028205,0.194069,0.195829,0.209777,0.196535,0.119602,0.107990,0.010014,0.027068,0.055939,0.073830,0.103697,0.005220,0.139934,0.035042,0.119387,0.102793,0.125996,0.094548,0.020370,0.186979,0.038815,2.086005e-02,0.013950,0.069788
min,0.000503,0.085402,0.000029,0.001180,0.002261,0.001841,0.003121,0.001755,0.001518,0.000299,0.002138,0.001403,0.000268,0.021260,0.024631,0.000078,0.000218,0.000022,0.000109,0.000044,0.001379,0.000487,0.001968,0.001753,0.000004,0.000451,0.000004,0.000166,0.000515,0.000299,0.001241,0.000023,0.001199,0.000014,5.071773e-07,0.000002,0.000504
25%,0.187805,0.343260,0.012536,0.014818,0.255130,0.029018,0.213296,0.052296,0.177381,0.012510,0.075374,0.112647,0.033745,0.106243,0.671682,0.025189,0.066332,0.008959,0.011785,0.009890,0.019825,0.014860,0.037731,0.019061,0.001415,0.014084,0.002293,0.006726,0.025391,0.020786,0.010753,0.006143,0.017935,0.002167,6.852646e-04,0.001156,0.031720
50%,0.430779,0.551160,0.021956,0.027812,0.388252,0.056120,0.320048,0.112858,0.271392,0.022664,0.128197,0.194743,0.045005,0.175598,0.824045,0.072722,0.148487,0.016996,0.022230,0.014727,0.031523,0.026219,0.049099,0.028191,0.002962,0.023777,0.004316,0.011919,0.050035,0.044304,0.023597,0.012717,0.040274,0.005523,2.385243e-03,0.002940,0.059353
75%,0.634532,0.794698,0.034322,0.073599,0.695725,0.155464,0.450007,0.362085,0.330906,0.046738,0.275783,0.302506,0.063885,0.322164,0.894468,0.310844,0.345024,0.058612,0.048855,0.020273,0.053581,0.049363,0.074583,0.052580,0.006370,0.053915,0.009933,0.028276,0.131596,0.153196,0.058673,0.032424,0.164346,0.023110,1.394340e-02,0.010305,0.119064
max,0.902755,0.999478,0.139988,0.987523,0.997968,0.958154,0.847895,0.995793,0.816053,0.510155,0.687472,0.721484,0.199567,0.981792,0.973696,0.741183,0.825587,0.666139,0.924895,0.073635,0.172611,0.587143,0.567919,0.907868,0.052912,0.914920,0.396905,0.793147,0.630718,0.587064,0.944184,0.118730,0.985791,0.288587,1.550245e-01,0.115256,0.346303

In [7]:
df_true.describe()

,Class1.1,Class1.2,Class1.3,Class2.1,Class2.2,Class3.1,Class3.2,Class4.1,Class4.2,Class5.1,...,Class9.3,Class10.1,Class10.2,Class10.3,Class11.1,Class11.2,Class11.3,Class11.4,Class11.5,Class11.6
count,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,...,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000,10160.000000
mean,0.434882,0.539945,0.025174,0.106965,0.432979,0.102361,0.330619,0.214020,0.218959,0.040072,...,0.033355,0.090781,0.082952,0.040286,0.015160,0.094704,0.016852,0.007521,0.006858,0.072925
std,0.284283,0.296930,0.038617,0.212915,0.302254,0.176148,0.247133,0.286037,0.178595,0.085725,...,0.101242,0.145526,0.139639,0.101361,0.053353,0.195153,0.063620,0.038689,0.034383,0.108093
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.177861,0.277444,0.000000,0.000000,0.165223,0.000000,0.120872,0.000000,0.072622,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.417578,0.557794,0.014662,0.000000,0.390936,0.000000,0.283588,0.087374,0.183481,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.683074,0.810081,0.034247,0.085345,0.689999,0.134042,0.512225,0.327777,0.339189,0.043842,...,0.000000,0.143233,0.124843,0.031160,0.000000,0.098185,0.000000,0.000000,0.000000,0.125059
max,1.000000,1.000000,0.709979,0.993468,1.000000,0.998000,1.000000,1.000000,0.862016,0.791833,...,0.831652,0.943000,0.828525,0.996952,0.869913,1.000000,0.864138,0.936903,0.568001,0.670742

In [8]:
mean_squared_error(df_true.values, df_predictions.values)

0.0093732376501367079

In [9]:
mean_squared_error(df_true.iloc[:, 0].values, df_predictions.iloc[:, 0].values)

0.018778197775450971

In [10]:
df_mse = pd.DataFrame(index = df_true.columns.values, columns=['class_MSE'])
for c in df_true.columns:
    df_mse.at[c, 'class_MSE'] = mean_squared_error(df_true[c].values, df_predictions[c].values)

In [11]:
df_mse['class_MSE'] = df_mse['class_MSE'].astype(float)

<img src="./GalaxyClasses.png">

In [19]:
print('The class with the maximum mean square error was ' + 
      '{} with an error of {:0.4f}'.format(df_mse['class_MSE'].idxmax(), df_mse['class_MSE'].max()))

The class with the maximum mean square error was Class3.2 with an error of 0.0253

In [25]:
print('The class with the minimum mean square error was ' + 
      '{} with an error of {:0.4f}'.format(df_mse['class_MSE'].idxmin(), df_mse['class_MSE'].min()))

The class with the minimum mean square error was Class8.7 with an error of 0.0007

In [23]:
print('The most frequently represented class in the true data was ' + 
      '{} with an frequency of {:0.4f}'.format(df_true.mean().idxmax(), df_true.mean().max()))

The least frequent class present in the true data was Class6.2 with an frequency of 0.7662

In [24]:
print('The least frequently represented class in the true data was ' + 
      '{} with an frequency of {:0.4f}'.format(df_true.mean().idxmin(), df_true.mean().min()))

The least frequently represented class in the true data was Class8.7 with an frequency of 0.0039

In [26]:
print('The most frequently represented class in the predicted data was ' + 
      '{} with an frequency of {:0.4f}'.format(df_predictions.mean().idxmax(), df_predictions.mean().max()))

The most frequently represented class in the predicted data was Class6.2 with an frequency of 0.7498

In [27]:
print('The least frequently represented class in the predicted data was ' + 
      '{} with an frequency of {:0.4f}'.format(df_predictions.mean().idxmin(), df_predictions.mean().min()))

The least frequently represented class in the predicted data was Class8.7 with an frequency of 0.0049

In [34]:
df_freq = pd.DataFrame(index=df_true.columns, columns=['avg_freq_true', 'avg_freq_predicted'])

In [35]:
df_freq['avg_freq_true'] = df_true.mean().values
df_freq['avg_freq_predicted'] = df_predictions.mean().values

In [38]:
df_freq.sort_values(by='avg_freq_true', ascending=False)

           avg_freq_true  avg_freq_predicted
Class6.2        0.766150            0.749803
Class1.2        0.539945            0.566078
Class1.1        0.434882            0.414869
Class2.2        0.432979            0.459940
Class3.2        0.330619            0.338691
Class6.1        0.233850            0.248006
Class4.2        0.218959            0.259353
Class4.1        0.214020            0.240675
Class7.2        0.206940            0.221068
Class5.2        0.180014            0.190315
Class5.3        0.175908            0.223744
Class7.1        0.172388            0.182848
Class2.1        0.106965            0.118803
Class3.1        0.102361            0.139272
Class11.2       0.094704            0.131122
Class10.1       0.090781            0.094843
Class10.2       0.082952            0.106658
Class11.6       0.072925            0.083646
Class8.5        0.065327            0.075007
Class9.1        0.063025            0.078079
Class7.3        0.055553            0.072110
Class8.6        0.043558            0.063216
Class10.3       0.040286            0.056892
Class5.1        0.040072            0.042035
Class8.4        0.039456            0.043485
Class5.4        0.036986            0.050897
Class8.1        0.034962            0.057271
Class9.3        0.033355            0.055319
Class8.3        0.033261            0.039962
Class1.3        0.025174            0.026087
Class11.3       0.016852            0.022329
Class11.1       0.015160            0.021356
Class8.2        0.013357            0.016299
Class9.2        0.010586            0.016039
Class11.4       0.007521            0.012323
Class11.5       0.006858            0.008981
Class8.7        0.003929            0.004866